[submodule "dataset/external/bim-whale-ifc-samples"]
	path = dataset/external/bim-whale-ifc-samples
	url = https://github.com/andrewisen/bim-whale-ifc-samples.git
[submodule "dataset/external/ifc-bench"]
	path = dataset/external/ifc-bench
	url = https://huggingface.co/datasets/sylvainHellin/ifc-bench
